nav > a {
  padding: 5px;
  text-decoration: none;
}

nav > .active {
  background-color: #003366;
  cursor: default;
}

.header-row {
  width: 100%;
   justify-content: space-between;
}

.header {
  background-color: #3f51b5;
  color: white;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  /* border: 1px solid red; */
}

.navegacion {
  display: inline-block;
}

.header a {
  color: white;
  text-decoration: none;
}

.header ol {
  display: flex;
  height: inherit;
}
.header ol li {
  height: inherit;
}
.header a {
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  height: inherit;
  padding: 0 10px;
}

.container {
  /* width: 1000px; */
  max-width: 1000px;
  /* width: 100%; */
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
  /* border: 2px solid #003366; */
}

.header .logo {
 text-align: center;
}


