.register-box {
  width: 320px;
  height: 450px;
  background: #000;
  color: #ffffff;
  top: 53%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 50px 30px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.register-box h1 {
  margin: 0;
  padding: 15px 20px;
  text-align: center;
  font-size: 22px;
}

.register-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.register-box input {
  width: 100%;
  margin-bottom: 20px;
}

.register-box input[type="text"],
.register-box input[type="password"] {
  border: none;
  border-bottom: 1px solid #ffffff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #ffffff;
  font-size: 16px;
}

.register-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #b80f22;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 0px;
  border-radius: 20px;
}

.register-box input[type="submit"]:hover {
  opacity: 0.75;
  cursor: pointer;
}

.register-box input[type="submit"]:active {
  transform: scale(0.85, 0.80);
}

.register-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgray;
}

.register-box a:hover {
  color: #ffffff;
  cursor: pointer;
}

