.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.title,
.author {
  align-items: center;
}

.button {
  text-decoration: none;
  color: #000;
  padding: 0 !important
}

.book-details {
  width: 400px;
  height: 450px;
  background: #ffffee;
  color: #131111;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 20px 20px;
}


